* {
box-sizing: border-box;
margin: 0;
}

    body {
    font-family: 'Arial (Hebrew)', Arial;
    direction: rtl;
    text-align: right;
}

ul {
list-style: none;
padding-right: 0;
}

.vl {
    width: 4px;
    height: 21px;
    margin: 0 16px;
}
.flex {
    display: flex;
}

.cColumn {
    width: 48%;
    margin: auto;
}

#headerNav {
    background-color: #909090;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
background-color: #909090;}

.dropdown-content > a {
    text-decoration: none;
    display: inline-block;
}
.dropdown:hover > .dropdown-content {
    display: block;
}